/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 18, 2025, 9:50:30 AM
    Author     : Daniel García
*/

body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container { 
    text-align: center; 
}
.container.title { 
    max-width: 400px; 
    background: rgba(0, 0, 0, 0.6);
    padding: 30px; 
    border-radius: 10px; 
    color: #fff; 
}

.title h2 { 
    font-size: 4rem; 
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 20px; 
}

.login-box {
    max-width: 400px;
    margin: 0 auto; /* center horizontally */
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    color: #fff;
}






